// app global css in SCSS form
.dark-container {
  background: #212d40;
}

.text {
  color: $text;
}

.important-text {
  color: $important-text;
}

.q-field--standard .q-field__control:before {
  border-color: $text;
}

.q-field--standard:hover .q-field__control:before {
  border-color: black;
}

.q-field--standard .q-field__label {
  color: $text;
}

.q-field__native,
.q-field__prefix,
.q-field__suffix,
.q-field__input {
  color: $text;
}

.q-toolbar {
  background-color: #212d40;
}
